.feed__orders {
    composes: pr-15 from global;
    display: flex;
    flex-direction: column;
}

.feed__list {
    list-style: none;
    margin: 0;
    padding: 0 8px 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100vh - 208px);
    overflow-y: auto;
}

.feed__list::-webkit-scrollbar {
    width: 8px;
}

.feed__list::-webkit-scrollbar-track {
    background: #2F2F37;
}

.feed__list::-webkit-scrollbar-thumb {
    background: #8585AD;
    box-sizing: border-box;
}