.order__ingredient {
    display: flex;
    align-items: center;
}

.order__image {
    border: 2px solid rgb(136, 118, 236);
    border-radius: 50%;
    composes: mr-4 from global;
    object-fit: cover;
    width: 64px;
    height: 64px;
}

.order__name {
    composes: text text_type_main-default from global;
}

.order__wrapper {
    display: flex;
    margin-right: 9px;
    margin-left: auto;
}

.order__number {
    composes: text text_type_digits-default from global;
}

.order__x {
    composes: text text_type_digits-default pr-1 pl-1 from global;
}