.constructor {
    width: 600px;
    composes: mt-25 mr-4 pl-4 from global;
    box-sizing: border-box;
    max-height: calc(100vh - 188px);
    display: flex;
    flex-direction: column;
}

.constructor__initial {
    outline: 1px dashed rgb(54, 51, 240);
}

.constructor__container {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    flex-grow: 1;
}

.constructor__drop {
    outline: 3px solid rgb(54, 51, 240);
}

.constructor__bun {
    composes: pl-8 mb-4 from global;
    height: 80px;
}

.constructor__list {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    height: 65%;
}

.constructor__list::-webkit-scrollbar {
    width: 8px;
}

.constructor__list::-webkit-scrollbar-track {
    background: #2F2F37;
}

.constructor__list::-webkit-scrollbar-thumb {
    background: #8585AD;
    box-sizing: border-box;
}

.constructor__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 52px;
    composes: mt-10 from global;
}

.constructor__price svg {
    width: 33px;
    height: 33px;
}

.constructor__price {
    display: flex;
    justify-content: center;
    composes: mr-10 from global;
}