.constructor {
    width: 600px;
    composes: pt-25 pb-5 from global;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.constructor__initial {
    outline: 1px dashed rgb(136, 118, 236);
    border-radius: 30px;
}

.constructor__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: calc(100vh - 305px);
    box-sizing: border-box;
    flex-grow: 1;
}

.constructor__drop {
    outline: 3px solid rgb(136, 118, 236);
    border-radius: 30px;
}

.constructor__bun {
    composes: pl-8 from global;
    height: 80px;
}

.constructor__bunInitial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.constructor__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    flex-grow: 1;
}

.constructor__listFailed {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 80%;
    height: 100%;
}

.constructor__list::-webkit-scrollbar {
    width: 8px;
}

.constructor__list::-webkit-scrollbar-track {
    background: #2F2F37;
}

.constructor__list::-webkit-scrollbar-thumb {
    background: #8585AD;
    box-sizing: border-box;
}

.constructor__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    composes: pt-10 from global;
}

.constructor__price svg {
    width: 33px;
    height: 33px;
}

.constructor__price {
    display: flex;
    composes: mr-10 from global;
}