.page {
  background: #131316;
  max-width: 1920px;
  height: 100vh;
}

.page__burger {
  display: flex;
  justify-content: center;
}

.page__initial {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 88px);
}