.page {
    background: #131316;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Jet Brains Mono', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}