.profile__nav {
    composes: pr-15 pl-5 from global;
    width: 320px;
}

.profile__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile__link {
    composes: text_type_main-medium text_color_inactive from global;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 64px;
    
}

.profile__button {
    composes: profile__link;
    background-color: inherit;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.profile__linkActive {
    color: inherit;
    composes: text_type_main-medium from global;
}

.profile__text {
    composes: text text_type_main-default text_color_inactive pt-20 from global;
}