.modal {
    width: 720px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1c21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    border-radius: 40px;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 64px;
    cursor: pointer;
    composes: pt-10 pl-10 pr-10 from global;
}