.ingredients {
    max-width: 600px;
    composes: pr-10 pb-5 from global;
    display: flex;
    flex-direction: column;
}

.ingredients__container {
    overflow-y: scroll;
}

.ingredients__container::-webkit-scrollbar {
    width: 8px;
}

.ingredients__container::-webkit-scrollbar-track {
    background: #2F2F37;
}

.ingredients__container::-webkit-scrollbar-thumb {
    background: #8585AD;
    box-sizing: border-box;
}