.header {
    background: #1C1C21;
    composes: pt-4 pb-4 from global;
}

.header__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}

.header__item {
    composes: pr-5 pl-5 pt-4 pb-4 from global;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 177px;
    flex-grow: 1;
}

.header__link {
    text-decoration: none;
    display: flex;
    composes: text_type_main-default text_color_inactive from global;
}

.header__linkActive {
    color: inherit;
    composes: text_type_main-default from global;
}

.header__text {
    composes: text ml-2 m-0 from global;
}