.header {
    background: #1C1C21;
    display: flex;
    justify-content: center;
    composes: pt-4 pb-4 from global;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    list-style: none;
    margin: 0 88px 0 0;
    padding: 0;
    height: 56px;
}

.header__item {
    display: flex;
    align-items: center;
    composes: mr-6 ml-6 from global;
}

.header__login {
    composes: header__item;
    margin: 0 0 0 289px;
}